---
import { CreatePost } from '../components/CreatePost'
import { OuRealLogo } from '../components/OuRealLogo'
import { PostsViewer } from '../components/PostsViewer'
import { Terms } from '../components/Terms'
import Layout from '../layouts/Layout.astro'
import { getPosts, Post } from '../utils/supabase'
---

<Layout title="OuReal. - Entroido">
  <script>
    const termsAccepted = localStorage.getItem('termsAccepted') === 'true'
    if (!termsAccepted) {
      window.location.href = '/terms'
    } else {
      const lsPostId = localStorage.getItem('postId')
      if (!lsPostId) window.location.href = '/new'
    }
  </script>

  <!-- <OuRealLogo /> -->

  <PostsViewer client:idle />

  <div id="share-helper"></div>
</Layout>
