---
import { PostsViewer } from '../components/PostsViewer'
import Layout from '../layouts/Layout.astro'
---

<Layout title="OuReal. - Entroido">
  <script>
    import { supabase } from '../utils/supabase'

    supabase.auth.getSession().then(({ data }) => {
      if (data.session === null) {
        const termsAccepted = localStorage.getItem('termsAccepted') === 'true'
        if (!termsAccepted) {
          window.location.href = '/terms'
        } else {
          const lsPostId = localStorage.getItem('postId')
          if (!lsPostId) window.location.href = '/new'
        }
      }
    })
  </script>

  <PostsViewer client:load />

  <div id="share-helper"></div>
</Layout>
